In [1]:
import sqlite3
import os
os.chdir('E:\\prasad\\practice\\SQLite3')

### Create Database in Sqlite3

In [2]:
conn=sqlite3.connect('student.db')

In [3]:
# Go to command prompt and select path which your database file is created
# then type command in command prompt (sqlite3 student.db) command
# example: E:\prasad\practice\SQLite3>sqlite3 student.db

### Create Cursor

In [4]:
cur=conn.cursor()

### Create Table in Sqlite3

In [5]:
table='CREATE TABLE book(book_id integer(6),title varchar(20),price float(5,2))'

In [6]:
cur.execute(table)

In [7]:
conn.commit()

In [8]:
# Go to command Prompt and type command(.tables) for showing the all tables in same database

### Inserting Data into Table

In [12]:
ins="insert into book(book_id,title,price) values(235,'Python',320)"

In [13]:
cur.execute(ins)

In [14]:
conn.commit()

In [ ]:
# Go to Command prompt and type (.exit)command for exit from sqlite3

### Create new Table

In [15]:
cur.execute("create table employee(emp_name text,emp_post text,emp_salary int)")

In [16]:
conn.commit()

In [17]:
# Go to command prompt and type command (.schema) for show the attributes of created table

### Insert Records in Table

In [21]:
cur.execute("insert into employee values('prasad','ML Engineer',50000)")

In [22]:
conn.commit()

In [23]:
# Go to command prompt and type command (select * from employee;) for showing records in table

### Insert Multiple Records in Table

In [26]:
cur.execute("insert into employee values('Pravin','SAP',35000),('Sanket','SAP_ABAP',42000),('Ganesh','HANA',49000),('Chetan','Deep_Learning',62000),('Sagar','HR',61000),('Shailesh','Java',37000),('Sonali','Oracle',45000)")

In [27]:
conn.commit()

In [32]:
# Go to command prompt and type command (select * from employee;) for showing all records in table

### Retrieving data from Table

In [28]:
ext='select * from employee'
cur.execute(ext)
result=cur.fetchall()
for i in result:
    print(i)

('prasad', 'datascientiest', 50000)
('prasad', 'ML Engineer', 50000)
('Pravin', 'SAP', 35000)
('Sanket', 'SAP_ABAP', 42000)
('Ganesh', 'HANA', 49000)
('Chetan', 'Deep_Learning', 62000)
('Sagar', 'HR', 61000)
('Shailesh', 'Java', 37000)
('Sonali', 'Oracle', 45000)

### Update Table Record

In [29]:
upd="update employee set emp_post='Analyst' where emp_name='prasad'"

In [30]:
cur.execute(upd)

In [31]:
conn.commit()

In [33]:
# Go to command prompt and type command (select * from employee;) for showing records in table

### Delete Row from Table

In [34]:
cur.execute("delete from employee where emp_name='prasad'")

In [35]:
conn.commit()

In [36]:
# Go to command prompt and type command (select * from employee;) for showing records in table

# Basic SQL Queries

#### Select

In [37]:
cur.execute(" select emp_name,emp_salary from employee")
conn.commit()

In [38]:
# Go to command prompt and type command (select emp_name,emp_salary from employee;) for showing records in table

#### where

In [39]:
cur.execute("select * from employee where emp_name='Sanket'")
conn.commit()

In [40]:
# Go to command prompt and type command (select * from employee where emp_name='Sanket';) for showing records in table

#### And

In [46]:
cur.execute("select * from employee where emp_name='Ganesh' and emp_post='HANA'")
conn.commit()

In [43]:
# Go to command prompt and type command (select * from employee where emp_name='Ganesh' and emp_post='HANA';) for showing records in table

#### Or

In [ ]:
cur.execute("select * from employee where emp_name='Sagar' or emp_salary='61000'")
conn.commit()

In [47]:
# Go to command prompt and type command (select * from employee where emp_name='Sagar' or emp_salary='61000';) for showing records in table

### Insert Into

In [50]:
cur.execute("insert into employee values('Prasad','Analyst',58000)")
conn.commit()

In [51]:
# Go to command prompt and type command (select * from employee) for showing records in table

### Aggregate Function

#### Count

In [52]:
cur.execute("select count(emp_name) from employee")
conn.commit()

In [53]:
# Go to command prompt and type command (select count(emp_name) from employee;) for showing records in table

##### Average

In [54]:
cur.execute("select avg(emp_salary) from employee")
conn.commit()
# Go to command prompt and type command (select avg(emp_salary) from employee;) for showing records in table

#### Sum

In [ ]:
cur.execute("select sum(emp_salary) from employee")
conn.commit()
# Go to command prompt and type command (select sum(emp_salary) from employee;) for showing records in table

#### Min

In [55]:
cur.execute("select min(emp_salary) from employee")
conn.commit()
# Go to command prompt and type command (select min(emp_salary) from employee;) for showing records in table

#### Max

In [56]:
cur.execute("select max(emp_salary) from employee")
conn.commit()
# Go to command prompt and type command (select max(emp_salary) from employee;) for showing records in table

#### Group by

In [ ]:
cur.execute("select count(emp_salary) emp_name from employee group by emp_name")
conn.commit()
# Go to command prompt and type command (select count(emp_salary) emp_name from employee group by emp_name;) for showing records in table

#### Having

In [ ]:
cur.execute("select emp_name,sum(emp_salary)from employee group by emp_name having sum(emp_salary)>45000")
conn.commit()
# Go to command prompt and type command (select emp_name,sum(emp_salary)from employee group by emp_name having sum(emp_salary)>45000;) for showing records in table

#### Order by - asc/dec

In [57]:
cur.execute("select emp_salary from employee group by emp_name order by(emp_salary) asc")
conn.commit()
# Go to command prompt and type command (select emp_salary from employee group by emp_name order by(emp_salary) asc;) for showing records in table

In [58]:
cur.execute("select emp_salary from employee group by emp_name order by(emp_salary) desc")
conn.commit()
# Go to command prompt and type command (select emp_salary from employee group by emp_name order by(emp_salary) desc;) for showing records in table

#### Null Values-isnull/is not null

In [5]:
cur.execute("select emp_name,emp_post from employee where emp_salary is null;")
conn.commit()
# Go to command prompt and type command (select emp_name,emp_post from employee where emp_salary is null;) for showing records in table

In [6]:
cur.execute("select emp_name,emp_post from employee where emp_salary is null;")
conn.commit()
# Go to command prompt and type command (select emp_name,emp_post from employee where emp_salary is not null;) for showing records in table

### Update

In [8]:
cur.execute("update employee set emp_name='shweta',emp_post='HR' where emp_salary=45000")
conn.commit()

In [10]:
# Go to command prompt and type command (select * from employee) for showing records in table

### Delete

In [9]:
cur.execute("delete from employee where emp_salary=45000")
conn.commit()

In [11]:
# Go to command prompt and type command (select * from employee) for showing records in table

### In Operator

In [13]:
cur.execute("select emp_name from employee where emp_post in ('HR')")
conn.commit()

In [14]:
# Go to command prompt and type command (select emp_name from employee where emp_post in ('HR')) for showing records in table

### Between Operator

In [16]:
cur.execute("select emp_name from employee where emp_salary between 55000 and 65000")
conn.commit()

In [17]:
# Go to command prompt and type command (select emp_name from employee where emp_salary between 55000 and 65000;) for showing records in table